/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
#footer{
    width: 100%;
    background: #080808;
    text-align: center;
    color: #f9f9f9;
    padding: 10px;
}
.form-signin {
  max-width: 400px; 
  display:block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
	box-shadow: 0 0 3px 3px #888;
  border-radius:2px;
}
.main{
	padding: 38px;
}
.social-box{
  margin: 0 auto;
  padding: 38px;
  border-bottom:1px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}
.heading-desc{
	font-size:20px;
	font-weight:bold;
	padding:38px 38px 0px 38px;
	
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 0px;
  border-radius: 5px;
}
.form-signin input[type="password"] {
  margin-bottom: 0px;
  border-radius: 5px;
}
.input-group {
    margin-bottom: 15px;
}
.login-footer{
	background:#f0f0f0;
	margin: 0 auto;
	border-top: 1px solid #dadada;
	padding:20px;
}
.login-footer .left-section a{
	font-weight:bold;
	line-height:19px;
}
.mg-btm{
	margin-bottom:20px;
}


body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
}

a:link {
	text-decoration: none;
}


a:visited {
	text-decoration: none;
}


a:hover {
	text-decoration: none;
	color: #999999;
}

a:active {
	text-decoration: none;
}

.top-header{
color:#EDEDED; 
padding:3px;
font-size:11px;
font-family: Arial, Helvetica, sans-serif;

}

.white {color: #CCCCCC;}
.naira{ text-decoration:line-through;}


/**hover over table rows**/
.hoverTable{
width:100%; 
border-collapse:collapse;
border-radius:6px;
border: 0px solid #fff;
background-color:#fff;
}

.hoverTable th{ 
padding:2px; 
border-top:1px solid #AEAEAE;
border-bottom:1px solid  #AEAEAE;
background-color:#ccc;
color: #373737;
border-radius:0px;
}

.hoverTable td{ 
padding:2px; 
border:0px solid #666;
border-radius:0px;
}

/* Define the default color for all the table rows */
.hoverTable tr:nth-child(odd){
background-color: #F8F8F8;
border-bottom: ridge 1px;
color: #373737;
font-size:11px;
font-family:Arial, Helvetica, sans-serif;
}

.hoverTable tr:nth-child(even){
background-color: #fff;
border-bottom: ridge 1px;
color: #373737;
font-size:11px;
font-family:Arial, Helvetica, sans-serif;
}

/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
background: #CC9900;
color: #fff;
}


/*** input box ****/

input{
border:solid 1px #ccc;
border-radius: 6px;
height:30px; 
padding:4px;
font-size:14px;
width:90%;
}


/**my text area look**/
textarea{
border:solid 1px #ccc;
border-radius: 6px;
height:auto;
width:90%; 
padding:4px;
font-size:14px;
}


/* select drop menu */
select{
border:solid 1px #ccc;
border-radius: 6px;
height:40px; 
padding:10px;
font-size:14px;
width:90%;
}

/* my button look*/
button{
	border:solid 1px #ccc ;
	color:#fff;
	background-color: #330000;
	border-radius:4px;
	min-height:37px;
	max-width:200px;
	padding:7px;
	font-size:13px;
}

.curve{
border-radius:8px;
border:solid thin #CCCCCC;
}

.error_msg{
background:#990000;
padding:7px;
color:#fff;
border-radius:6px;
width:auto;
display:inherit;
}

.status_msg{
background:#006600;
padding:7px;
color:#fff;
border-radius:6px;
width:auto;
display:inherit;
}

/**form highlight and warning msg**/
.warning-msg{
font-size:10px;
color: #990000;
border-radius:4px;
display:inherit;
}

/** side pane menu link **/
.left-link{
font-size:11px;
overflow-y:auto;
overflow-x:hidden;
height:auto;
width:250px;
}

/**make a long scrollable page**/

.scroller{
overflow-y:auto;
overflow-x:hidden;
height:700px;
width:100%;
}

.tax-case-work-flow{
background:#DFDFDF;
padding:2px;
color:#fff;
border-radius:6px;
width:auto;
display: inline-table;
font-size:10px;
}

.tax-case-work-flow:hover{
background: #666666;
padding:1px;
color:#fff;
}

.active{
background: #00CC00;
color:#fff;
border: solid 0px #00FF00;
}

/* make upload link looks like button*/
.fake-button{
background:#006600;
font-size:10px;
padding:4px;
color:#fff;
border-radius:6px;
width:auto;
display:inherit;
}

.fake-button:hover{
background: #000000;
color: #FFCC00;
}

.fake-button-lock{
background: #990033;
font-size:10px;
padding:4px;
color:#fff;
border-radius:6px;
width:auto;
display:inherit;
}